.nav_container{
  height: 3.5rem;
  width: 100%;
  background: transparent;
  border-bottom: 1px solid rgb(255, 159, 28, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.logo{
  font-size: 2.5rem;
  display: block;
  color: var(--color-white);
}

.logo span{
  color: var(--color-secundary);
}

.nav_links{
  display: flex;
  align-items: center;
  gap: 3.5rem;
  color: var(--color-white);
  
}

.nav_links a{
  transition: .2s ease;
}

.nav_links a:hover{
  color: var(--color-secundary);
}

.active_links{
  color: var(--color-secundary);
}

.btn_toggle{
  display: none;
}